
.blog-post {
    margin: 5% 1%;
    border: 1px solid black;
    position: relative;
    box-shadow: 1px 1px #EDF0F3,
    2px 3px black,
    3px 3px black,
    4px 4px black,
    5px 5px black,
    6px 6px black;
}

@media screen and (min-width: 715px) {
    .blog-post{
        overflow: hidden;
        width: 85%;
        margin: 10px auto;
        max-width: 800px;
    }

    .blog-post time {
        display: block;
        margin-bottom: 10px;
    }

    .blog-post p {
        float: right;
        width: 50%;
        text-align: left;
        padding-right: 10px;
        margin: 0 ;
    }

    .blog-post img {
        float: left;
        width: 47%;
        max-width: 400px;
    }

}

.blog-post h2 {
    font-size: 1em;
}

.blog-post time {
    font-size: 0.8em;
}

.blog-post p {
    font-size: 0.6em;
}

.click-for-more {
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
}

.click-for-more a {
    color: #EDF0F3;
}

.blog-post:hover .click-for-more {
    display: inline-block;
    width: 100%;
}