
.no-bottom-margin {
    margin-bottom: 0px;
}

.index-page-figcaption {
    display: block;
}


@media screen and (min-width: 715px) {
    .index-page-figcaption {
        margin: 0 10%;
    }
}

.no-bottom-margin img {
    width: 80%;
}

@media screen and (min-width: 715px) {
    .no-bottom-margin img {
        width: 70%;
        max-width: 700px;
    }
}