
body {
    background: linear-gradient(to bottom, white, #7691A4);
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    padding-bottom: 20px;
}

@media screen and (min-width: 810px) {
    body {
        min-height: calc(100vh - 250px);;
    }
}


@media screen and (min-width: 810px) {
    main {
        margin-top: 230px;
    }
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.botton-a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
}