
.hot {
    display: inline-block;
    margin: 5%;
    padding: 1%;
    border: 3px solid transparent;
    border-radius: 20%;
    transition: all 0.5s ease-out;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
}

.hot {
    margin-bottom: 0;
}

.hot:hover {
    border: 3px solid crimson;
    box-shadow: 0px 0px 30px 20px orangered, 0px 0px 40px 30px yellow;
    text-shadow: 0px 0px ;
    background-image: url("../pics/flames.jpg");
    color: white;
    transform: rotateY(360deg);
}

.hot h3 {
    font-size: 1.2em;
}

.hot p {
    font-size: 0.7em;
}