@import url("../bower_components/normalize.css/normalize.css");
@import url("navigation-bar.css");
@import url("index.css");

html {
    height: 100%;
    background: linear-gradient(to bottom, white, white, lightseagreen);
    background-repeat: no-repeat;
    font-family: 'Kreon', serif;
}

main {
    margin-top: 300px;
    margin-left: 5%;
    margin-right: 5%;
}

.visually-hidden {
    position: absolute;
    visibility: hidden;
}

