header {
    background-color: lightskyblue;
    position: fixed;
    top: 0px;
    width: 100%;
    min-width: 770;
}

.header-container {
    background-color: lightsalmon;
    text-align: center;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-top: 10px;
    display:table;
}

.main-page-headline {
    color: lightseagreen;
    font-size: 40px;
    text-shadow: 0px 0px 3px black;
}

.site-navigator {
    font-family: cursive;
    font-size: 25px;
    list-style-type: none;
}

.site-navigator li {
    display: inline-block;
    width: 20%;
    min-width: 300px;
    background-color: antiquewhite;
}

.site-navigator li:hover {
    background-color: lightgoldenrodyellow;
}

.logo {
    float:left;
    margin-left:10px;
}

.logo img {
    width: 180%;
    height: 180%;
}


@media screen and (max-width: 1300px) {
    .site-navigator {
        margin: auto;
    }
    .site-navigator li {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3px;
    }
}











/*.logo {*/
/*position:fixed;*/
/*top: 10px;*/
/*left: 70px;*/
/*text-align: center;*/
/*width: 220px;*/
/*height: 150px;*/
/*padding: auto auto;*/
/*background-color: lightcoral;*/
/*font-size: 22px;*/
/*font-family: Rockewll, Georgia;*/
/*border: 2px solid lightseagreen;*/
/*border-radius: 50px;*/
/*box-shadow: inset 0px 0px 30px lightseagreen;*/
/*}*/